body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.bg-primary {
    background-color: #009b6f !important;
}

.page-header-image {
    background-image: url("/img/header.jpg");
}

.page-header {
    height: 40vh;
}

.page-header::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.title {
    color: #FFFFFF;
    font-size: 4.5em;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 60px;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #dfe1e5;
    margin: 2rem auto;
}

.section {
    border-top: solid #00c092 8px;
}

.section h2 {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 3em;
}

.section h3 {
    margin-top: 20px;
    margin-bottom: 0;
}

.sidebar-collapse .navbar-collapse::before {
    background: #009b6f;
    background: -webkit-linear-gradient(#009b6f 0%, #000 80%);
    background: -o-linear-gradient(#009b6f 0%, #000 80%);
    background: -moz-linear-gradient(#009b6f 0%, #000 80%);
    background: linear-gradient(#009b6f 0%, #000 80%);
}

.find-city-form {
    margin-top: 20px;
}

.find-city-form.form-control {
    font-size: 0.9rem;
}

.find-city-form .btn-lg {
    color: white !important;
    font-size: 1rem;
}

.find-city-form .input-group-addon {
    z-index: 4;
    font-size: 1.3rem;
}

a, a:hover, a:focus {
    color: #009b6f;
}