<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <meta name="keywords" content="video-chat, video, chat, free, gvcp">
    <meta name="description" content="GNU Video Conferencing Platform">
    <title>Smart Recycling Bin</title>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/now-ui-kit.css?v=1.1.0" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet"/>
</head>

<body class="landing-page">
<div class="wrapper">


    <div class="page-header">
        <div class="page-header-image" data-parallax="true">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="row justify-content-center">
                    <h1 class="col-12 title"><i class="fa fa-fw fa-recycle"></i>Smart Recycling Bin</h1>
                    <h4 class="col-12 title title-subtitle">The future for our cities</h4>
                    <div class="col-md-6">
                        <img src="/img/single_bin.png" alt="The bin">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="section section-info" data-background-color="green">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>What is Smart Recycling Bin about?</h1>
                    <p>Our main goal is to improve the recycling experience in cities of the future.
                        We support the idea of smart cities in a way that there are benefits for
                        the environment and the inhabitants. In order to actually reach this we develop
                        the idea of a smarter dumpster which motivates the people to recycle
                        through the use of gamification.</p>
                </div>
                <div class="col-md-5 d-none d-md-block align-self-center">
                    <div class="row justify-content-end">
                        <a href="/scoreboard" target="_blank"><i
                                class="fa fa-4x fa-fw fa-bar-chart text-inverse"></i></a>
                    </div>
                </div>
                <div class="col-md-5 d-md-none">
                    <a href="/scoreboard" target="_blank"><i
                            class="fa fa-3x fa-fw fa-bar-chart text-inverse"></i></a>
                </div>
            </div>
            <h2>The promised experience:</h2>
            <p>You have some rubbish in your house and no motivation to bring it out? Just imagine it would be fun
                to do it. You go out, throw the rubbish bag into the friendly looking dumpster and even get a reward
                for doing it, because you contribute to bring your district to the first rank. After throwing your
                trash away the display shows you information about the amount of saved CO2 because of your decision
                to separate and to support recycling. You get information about how much your district is recycling
                as well and try to become the most environmentally friendly district of the city.
            </p>
            <h2>Design Thinking (DCU)</h2>
            <p>You can find our main idea, sketching, applications, as well as the characteristics and functionalities of the project here:
                <a href="/dcu" target="_blank"><i
                        class="fa fa-2x fa-fw  fa-lightbulb-o text-inverse"></i></a>
            </p>
            <br><br>
            <div class="row justify-content-center">
                <h2>Listen to the developers</h2>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row justify-content-center">
                <iframe class="col-md-8" height="435" src="https://www.youtube.com/embed/VxeFUwgdqFQ">
                </iframe>
            </div>
        </div>
    </section>

    <section class="section section-technology">
        <div class="container">
            <img src="/img/bins.png" alt="Model">
            <div class="row justify-content-center">
                <h2>Technical Information</h2>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="A common dumpster that will be converted into a smart bin">Dumpster</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="With an approximate size of 12', color, low power consumption and non reflecting">LED screen</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="To turn on all the smart bin's equipment">Small battery</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="To make the smart bin self sustainable (only in sunny countries)">Small solar panel</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="Between battery, solar panel and consumers">Charge controller</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="left" title="To detect people nearby and lit up the screen">Movement detector</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="To measure the filling height inside the smart bin">Distance sensors</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="To measure the amount of recycled waste and calculate the CO2 saved">Weight sensors</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="The brain of the smart bin, capable of self-update and manage all the data generated by the sensors">Raspberry Pi (or similar)</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="To transfer all collected data to the server (3G)">Internet connection</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="For the smart bin to know its location">GPS</li>
                        <li class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="right" title="To process all the data collected and display them in the smart bin and/or in the web page">Software</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-features" data-background-color="orange">
        <div class="container">
            <div class="row justify-content-center">
                <h2>What we stand for</h2>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <div class="row rounded-circle justify-center">
                            <em class="fa fa-2x fa-wifi"></em>
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="feature-title">Smart Cities</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="feature-description">
                                We connect. It's not only the better recycling experience. Furthermore the dumpsters
                                are connected to our server and with the help of their height sensors it will be
                                possible to collect the garbage in a smarter way.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <div class="row rounded-circle justify-center">
                            <em class="fa fa-2x fa-globe"></em>
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="feature-title">Recycling</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="feature-description">
                                We make the world a better place. We will recycle with more pleasure and the
                                Smart Recycling Bins even can inform and educate you about the seperation of your
                                garbage.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <div class="row rounded-circle justify-center">
                            <em class="fa fa-2x fa-gamepad"></em>
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="feature-title">Gamification</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="feature-description">
                                In our Smart Recycling Bins we applicate game-design elements and game principles in
                                order to improve the user engagement. You get a reward for recycling and can see on
                                a scoreboard how much your quater is contributing to the cities recycling.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-feedback">
        <div class="container">
            <div class="row justify-content-center">
                <h2>Give us some feedback!</h2>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <form id="feedback-form" class="row feedback-form" role="form">
                <div class="col-lg-6 col-md-8 text-center ml-auto mr-auto">
                    <div class="input-group input-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        <input id="inputName" name="name" type="text" class="form-control" placeholder="Name..."
                               required>
                    </div>
                    <div class="input-group input-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                        <input id="inputEmail" name="email" type="email" class="form-control" placeholder="Email..."
                               required>
                    </div>
                    <div class="radio">
                        <input type="radio" name="role" id="radio-role-student" value="student" required>
                        <label for="radio-role-student">
                            Student
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="role" id="radio-role-worker" value="worker" required>
                        <label for="radio-role-worker">
                            Worker
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="role" id="radio-role-other" value="other" required checked>
                        <label for="radio-role-other">
                            Other
                        </label>
                    </div>
                    <h5>Some place for your ideas, thoughts and wishes:</h5>
                    <div class="textarea-container">
                        <textarea name="message" class="form-control" rows="4" cols="80" placeholder="Tell us!" required></textarea>
                    </div>
                    <div class="send-button">
                        <input type="submit" class="btn btn-primary btn-round btn-block btn-lg" value="Send feedback!">
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>
<script>
    // Initialize Firebase
    let config = {
        apiKey: "AIzaSyAOUqi0IWHxFCXrWpc6v9RsIcoHt4L5ZgE",
        authDomain: "smartrecyclingbin-sipc.firebaseapp.com",
        databaseURL: "https://smartrecyclingbin-sipc.firebaseio.com",
        projectId: "smartrecyclingbin-sipc",
        storageBucket: "",
        messagingSenderId: "47891119899"
    };
    firebase.initializeApp(config);
</script>
<!-- Core JS Files -->
<script src="/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/core/popper.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
<!-- Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/js/plugins/bootstrap-switch.js"></script>
<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Plugin for the Validator -->
<script src="/js/plugins/jquery.validate.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<!-- Custom JS -->
<script src="/js/app.js" type="text/javascript"></script>
</body>

</html>